.stories-map-title {
    color: #9e332e;
    text-shadow: none;
    text-transform: uppercase;
    opacity: 1;
    font-size: 24px;
    font-weight: 700;
  }

.sidebar-map {
    margin-top: 16px;
    box-shadow: 0 0 2px black;
    height: 400px;
}