<p>
	<label for="{{ title_field_id }}">Title:</label>
	<input class="widefat" id="{{ title_field_id }}" name="{{ title_field_name }}" type="text" value="{{ title }}">
</p>


{% include './categories.twig' %}
