<div id="category-list" class="category-list-wrapper">
	<ul class="list-unstyled">
		{% for container in categories_with_meta|filter(container => container.selected) %}
			{% set category = container.category %}
			<li>
				<img class="sidebar-icon" src="{{ Image(category.meta('image')).src }}">
				<a href="{{ category.link }}">{{ category.name }}</a>
			</li>
		{% endfor %}
	</ul>
</div>
