$dark-brick-col: #9e332e;

.category-list-wrapper {
	@media (min-width: 769px) {
		column-count: 2;
	}

	.category-list {
		list-style: none;
    	padding-left: 0;
	}

	.category-list .category-list-item {
		padding-bottom: 12px;
		list-style-position: inside;

		a {
			position: relative;
			font-size: 14px;
			color: $dark-brick-col;
			text-decoration: none;
			vertical-align: top;
			line-height: 28px;
			display: inline-block;
			margin-left: 4px;
		}

		.category-icon {
			width: 28px;
			height: 28px;
		}

		a:hover {
			color: black;
			text-decoration: none;
		}
	}


}
